# SPDX-License-Identifier: MIT

# Require maintainer review for workflow and security-sensitive changes
.github/* @MartinHalleTUHH @matthew-l-weber @robwoolley @mrpollo
Contributing.md @MartinHalleTUHH @matthew-l-weber @robwoolley @mrpollo
LICENSE* @MartinHalleTUHH @matthew-l-weber @robwoolley @mrpollo
